.btn{
    background-color: rgba(0, 0, 255, 0.653);
    border: 3px rgba(244, 238, 238, 0.913) solid;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.btn:active{
    border: 3px lightblue solid;

}

.btn-container{
    display: inline-block;
}